.add_content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}

.input_wrapper input {
  width: 100%;
  background-color: var(--card-bg);
  padding: 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  color: var(--white);
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

.input_wrapper input:focus {
  border: 2px solid var(--white);
  outline: none;
}

.results_list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results_list li {
  list-style: none;
}
